# Odoo connection
ODOO_URL=https://happy-value-costa-rica.odoo.com
ODOO_DB=happy-value-costa-rica        # nombre exacto de la base de datos en Odoo
ODOO_USER=tu@email.com                # usuario con acceso API
ODOO_PASSWORD=tu_contraseña

# Puerto local (Render lo sobreescribe automáticamente)
PORT=3000
